.contenedor {
  width: 50%;
  height: 100px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.rojo1,
.azul2,
.verde3 {
  width: 100px;
  height: 100px;
}

.rojo1 {
  background-color: red;
}

.azul2 {
  background-color: blue;
}

.verde3 {
  background-color: green;
}
