.contenedor {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: opx;
  height: 310px;
  width: 300px;
  flex-direction: row-reverse;
}

.rojo1,
.azul2,
.verde3 {
  width: 100px;
  height: 100px;
}

.rojo1 {
  background-color: red;
}

.azul2 {
  background-color: blue;
}

.verde3 {
  background-color: green;
}
